body {
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f9fc;
}

.container {
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    padding: 20px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header h1 {
    font-size: 36px;
    margin: 0;
    color: #00796b;
}

.header p {
    font-size: 18px;
    color: #00796b;
}

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.chart-section {
    flex: 3;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.order-section {
    flex: 1;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.buy-sell {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.buy-sell form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.buy-sell input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.buy-sell button {
    padding: 10px;
    font-size: 16px;
    background-color: #00796b;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buy-sell button:hover {
    background-color: #004d40;
}